<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Contact</h1>
    <form action="/addContact" method="post">
        <!-- Name -->
        <label for="name">First and Last Name</label>
        <input type="text" id="name" name="name">
        <!-- Phone -->
        <label for="phone">Phone</label>
        <input type="tel" id="phone" name="phone">
        <!-- Email -->
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
        <!-- Button -->
        <button type="submit">Add</button>
    </form>
    <a href="/">Back to Tasks</a>
</body>
</html>